ISAPPLEPAY{display:inline}.dw-apple-pay-button,.dw-apple-pay-button:hover,.dw-apple-pay-button:active{background-color:#000;background-image:-webkit-named-image(apple-pay-logo-white);background-position:50% 50%;background-repeat:no-repeat;background-size:75% 60%;border-radius:5px;border:1px solid black;box-sizing:border-box;margin:5px auto;min-height:30px;min-width:100px;padding:0}.dw-apple-pay-button:after{content:"Apple Pay";visibility:hidden}.dw-apple-pay-button.dw-apple-pay-logo-white{background-color:#fff;border-color:#fff;background-image:-webkit-named-image(apple-pay-logo-black);color:#000}.dw-apple-pay-button.dw-apple-pay-logo-white.dw-apple-pay-border{border-color:#000}

/* --- chunk --- */

#mm-woman .thirdLevelCatSelector-mm-woman-accessories-jewellery a{display:none!important}

/* --- chunk --- */

#mm-woman .mm-menu__secondary__list .thirdLevelCatSelector-mm-woman-accessories-jewellery{display:none!important}

/* --- chunk --- */

.ab_hide_me{display:none!important}