@charset "utf-8";
@import url("style_reset.css");
@import url("style_texts.css");
@import url("style_global.css");
@import url("style_forms.css");
@import url("style_header.css");
@import url("style_bar.css"); /* !!! revisar pos top cuando los filtros ocupan 2 lineas o están abiertos en mobile */
@import url("style_filters.css"); /* !!! Qué pasa si hay más de 5 filtros? */
@import url("style_footer.css");
@import url("style_post.css");
@import url("style_module-credits.css");
@import url("style_module-gallery.css"); /* !!! Revisar media y si meter lazy a thumbs */
@import url("style_module-txt.css");
@import url("style_store.css");
@import url("style_about.css");
@import url("style_marquees.css");

/* Vars
==================================== */
:root{

	/*Colors*/
	--color-txt: white;
	--color-txt-highlight: #666666;
	--color-bg: black;
	--color-store: #f6f6f6;
	--color-orange: #ff5100;
	--color-gray: #666666;

	/*Global*/
	--height-viewport: 100vh;
	--height-txt: 20px;
	--height-bar: calc(var(--margin-top) - 1px + var(--height-txt) + var(--margin-bottom));

	/*Margin*/
	--margin-top: 5px;
	--margin-sides: 10px;
	--margin-bottom: var(--margin-top);

	/*Gaps*/
	--gap-cols: var(--margin-sides);
	--gap-rows: var(--margin-top);

	/*Cols*/
	--cols-about: 3;
	--column-width: calc((100vw - var(--margin-sides)*49)/48);

	/*Easing*/
	--speed: 300ms;
	--speedx2: calc(var(--speed)*2);
	--ease: cubic-bezier(0.650, 0.000, 0.350, 1.000);

}
@media (max-width: 1280px){
	:root{
		--cols-about: 4;
	}
}
@media (max-width: 1024px){
	:root{
		--cols-about: 5;
	}
}
@media (max-width: 896px){
	:root{
		--cols-about: 6;
		--column-width: calc((100vw - var(--margin-sides)*3)/2);
	}
}
@media (max-width: 600px){
	:root{
		--column-width: 100vw;
	}
}
@media (max-width: 390px){
	:root{
		--height-txt: 18px;
		--margin-sides: 8px;
	}
}
@media (max-width: 340px){
	:root{
		--height-txt: 16px;
	}
}
